:root {
--primary-color: #004d40;
--secondary-color: #ffb74d;
--text-color: #232529;
--thrid-color: beige;
--fourth-color: #eec88f;
}
body{
font-family: "Germania One", system-ui; /* this is my font for my text I choose to use*/
color:#232529; /* this changes the color of the text*/
background-color: beige; /* this makes the background a new color*/
}

header { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/bphoto.jpg); /* I wanted the header to have a fun background image so that is why I did this*/
    color:#cfbdbd;
    font-family: "Germania One", system-ui;
    padding: 5%; /* this adds extra padding to the header so it is not hugging everything*/
    display: flex; /* this activates the flexbox method*/
    justify-content: space-between; /* this tells the computer how to space out the items in the flexbox*/
    align-items: center; /* this makes sure the header is center*/
    border-radius: 10px; /* this makes the border 10px thick*/
    text-align: center; /* this should make the text center*/

}

.hover2 {
    background-color: #ffb74d;
}

.h2 {
    align-items: center;
    font-family: "Germania One", system-ui;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    border: 5px solid #ffb74d; /* this makes the border 5px and solid and a new color*/
    border-radius: 5%;
    

}

.para2 {
    text-align: center;
    font-size: 20px; /* this chnages the font size to 20px*/
    font-family: "Germania One", system-ui;
}

.list1 {
    text-align: center;
     list-style-position: inside; /* this makes it so the bullet points are connected to the list*/
     font-family: "Germania One", system-ui;
     font-size: 16px;
     color: #eec88f;
}

.abouth2 {
    text-align: center;
    border-radius: 5px;
    padding: 5%;
    border: 5px solid #ffb74d;
    border-radius: 5%;

}

.header2 {
    text-align: center;
    font-size: 20px;
    font-family: "Germania One", system-ui;
}

.section1{
    border: 5px solid #ffb74d;
    background-image:url(img/fish.jpg); /* this adds a photo for the background of this section*/
}

.para3 {
    text-align: center;
    font-size: 20px;
    font-family: "Germania One", system-ui;
    color:#eec88f;
}

.h3 {
    align-items: center;
    font-family: "Germania One", system-ui;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    color:#eec88f;
    background-color: #232529;
    

}

.list2 {
    text-align: center;
     list-style-position: inside;
     font-family: "Germania One", system-ui;
     font-size: 16px;
     color: #232529;
}

.finding-us {

    display: flex;
    flex-direction: column;
    gap: 15px; /* this adds a gap between the content and everything else*/
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: auto; /* this makes the computer auto change the hieght to how it sees fit*/
    flex-wrap: nowrap; /* this makes it so there is no new flex wrap happening*/
    width: fit-content; /* this gives the computer free ride to fit the content width*/
    margin:auto; /* this centers the content to the parent container*/

}

.find {
    padding: 15px;
    text-align: center;
    background-color: #ffb74d;
    border-radius: 8px;
    min-width: 250px; /* this makes the minimum width 250px*/
    border: 1px solid #004d40;
    box-sizing: border-box; /* this makes it so the width I choose becomes the total width*/
    float:none; /* this makes the content not float*/
}

.h4 {
    text-align: center;
    color:#eec88f;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footer-text {
    color:#cfbdbd;
    text-align: center;
}


@media screen and (min-width: 600px) {
    .finding-us {
        display: flex; /* i changed this since I wanted to make sure my home page stayed like a column*/
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .gallery {
        flex-direction: column; /* i needed to make the photos a column flex that way when the screen is at 600px it will go into a column to look nicer*/
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media screen and (min-width: 900px) {
    
    main {
        padding: 20px 50px; /* i added extra padding to help fill the space*/
        
    }

}